@import 'reset.css';

html {
    font-family: Pretendard, Roboto, sans-serif;
    --primary: #07d39f;
    --negative: #faad95;
    
    --bg-gray: #f3f3f3;
    --bg-transparent: rgba(0, 0, 0, 0.4);
    
    --main-text: #282828;
    --sub-text: #484848;
    --form-text: #a8a8a8;
}

body {
    scrollbar-width: thin;
    scrollbar-color: var(--bg-gray);
}
body::-webkit-scrollbar-track {
    background: var(--bg-gray);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--bg-gray);
}
